html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: url("https://cdn.statically.io/img/codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg?f=webp&w=720") center/cover no-repeat;
    opacity: 0; 
    animation-name: fadeIn;
    animation-duration: 2s; 
    animation-timing-function: ease-in; 
    animation-fill-mode: forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}  

.header {
    display: inline-block;    
    padding-bottom: 8px;      
    border-bottom: 3px solid #fff;
    align-self: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-bottom: 5px; 
    border-bottom: 2px solid white;
    padding: 30px 10px 5px 10px;
    font-size: 38px;
    color: #ffffff;
}


.main {
    flex: 1 1 auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.word-container {
    display: flex;
    gap: 10px;
    padding-bottom: 150px;
    justify-content: center;
    max-width: 90vw;
}

.prompts {
    display: flex;
    padding-bottom: 10px;
    font-family: Poppins, sans-serif;
    font-weight: 390;
    font-size: 18px;
    color: antiquewhite;
}

#guess-form {
    display: flex;
    flex-direction: column;
}

#guess-input {
    align-self: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: center;
    border: 5px solid rgb(102, 93, 143);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background: transparent;
    padding: 8px;
}

#guess-input::placeholder {
    color: white;     
    text-align: center;     
    opacity: 1;            
    font-weight: 200;     
    font-size: 18px;       
    font-family: "Poppins", sans-serif; 
}

.btn {
    align-self: center;
    background: transparent;
    margin: 20px;
    border: 3px solid rgb(150, 86, 141);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-family: "Poppins", sans-serif; 
    color: #fff;
    font-weight: 200;
}


.round-info {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    margin: 50px;
    color: #ffffff;
}

.letters {
    flex: 1 1 30px;
    min-width: 25px;
    max-width: 50px;
    height: 30px;
    border-bottom: 3px solid #fff;
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-family: Poppins, sans-serif;
}

.footer {
    text-align: center;
    color: #928b8b;
    padding-bottom: 12px;
}
