html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: url("https://static.vecteezy.com/system/resources/thumbnails/013/074/425/small_2x/flat-exotic-animal-background-free-vector.jpg") center/cover no-repeat;
    opacity: 0; 
    animation: fadeIn 2s ease-in forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }
}  

.animate {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.header {
    display: inline-block;    
    padding-bottom: 8px;      
    border-bottom: 3px solid #000000;
    align-self: center;
    text-align: center;
    font-family: "Merienda", cursive;
    font-weight: 600;
    padding-bottom: 5px; 
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 30px 10px 5px 10px;
    font-size: 38px;
    color: #0b1831;
}

.main {
    flex: 1 1 auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.word-container {
    display: flex;
    gap: 10px;
    padding-bottom: 150px;
    justify-content: center;
    max-width: 90vw;
}

.prompts {
    display: flex;
    padding-bottom: 10px;
    font-family: Poppins, sans-serif;
    font-weight: 390;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

#guess-form {
    display: flex;
    flex-direction: column;
}

#guess-input {
    align-self: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: center;
    border: 5px solid rgb(102, 93, 143);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background: transparent;
    padding: 8px;
}

#guess-input::placeholder {
    color: rgb(0, 0, 0);     
    text-align: center;     
    opacity: 1;            
    font-weight: 250;     
    font-size: 18px;       
    font-family: "Poppins", sans-serif; 
}

.btn {
    align-self: center;
    background: transparent;
    margin: 20px;
    border: 3px solid rgb(150, 86, 141);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-family: "Poppins", sans-serif; 
    color: #000000;
    font-weight: 250;
}


.round-info {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    margin: 50px;
    color: #000000;
}

.letters {
    flex: 1 1 30px;
    min-width: 25px;
    max-width: 50px;
    height: 30px;
    border-bottom: 3px solid #000000;
    font-size: 16px;
    text-align: center;
    color: #000000;
    font-family: Poppins, sans-serif;
}

.footer {
    text-align: center;
    color: #635f5f;
    padding-bottom: 12px;
}

.header.animate { animation-delay: 0s; }
.word-container.animate { animation-delay: 0.9s; }
#guess-form.animate { animation-delay: 0.6s; }
.round-info.animate {animation-delay: 0.6s;}